#contenido{
  display: none !important;
}
body, #contenido {
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}
body { color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif; }